@import url('https://cdn.jsdelivr.net/npm/@catppuccin/palette/css/catppuccin.css');

:root {
  --bg: #11111b;
  --default-color: #ededed;
  --peach: #fab387;
  --teal: #94e2d5;
  --blue: #89b4fa;
  --yellow: #f9e2af;
}

* {
  box-sizing: border-box;
}

html {
  background-color: var(--bg);
  font-family: system-ui, 'Open Sans', sans-serif;
  color: var(--default-color);
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 100ch;
  min-height: 100vh;
  padding: 2rem 2rem 0 2rem;
  line-height: 1.5;
}

/**
  * Navbar
  */

.hamburger {
  padding-right: 20px;
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 8px;
  background-color: var(--teal);
  border-radius: 3px;
}

/* this rules show the menu element */
.nav-links {
  min-height: 100vh;
  min-width: 60vw;

  right: 0px;
  top: 0px;
  position: absolute;
  background-color: #000;

  /* arrange the links in a column */
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Normal menu */
.nav-links a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  text-decoration: none;
  font-size: 1.2rem;
}

.expanded {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 636px) {
  .nav-links {
    min-width: 0;
    min-height: 0;
    margin-left: 5em;
    display: block;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
    margin: 0 10px;
  }

  .hamburger {
    display: none;
  }
}
