---
import BaseLayout from "../layouts/BaseLayout.astro";
import profilePicture from "../../public/photo.svg";
import Link from "../components/Link.astro";
import Highlight from "../components/home/Highlight.astro";
import Briefcase from "../components/icons/Briefcase.astro";
import CodeIcon from "../components/icons/Code.astro";
import ProfileCheck from "../components/icons/ProfileCheck.astro";
import Book from "../components/icons/Book.astro";
import { jsxTemplate } from "preact/jsx-runtime";

const pageTitle = "Portafolio";

const courses = [
  {
    title: "Inteligencia de negocios",
    description: "Desarrollo de distintos modelos de machine learning para tareas de clasificaci贸n, regresi贸n y clustering, utilizando Python y Scikit-Learn. Adicionalmente se realiz贸 un proyecto de procesamiento del lenguaje natural (NLP) para la clasificaci贸n de noticias falsas utilizando modelos como Naive Bayes, Random Forest y XGBoost."
  },
  {
    title: "Probabilidad y estad铆stica II",
    description: "Desarrollo de competencias en estad铆stica descriptiva mediante an谩lisis de varianza (ANOVA), modelos de regresi贸n lineal y l贸gistica. As铆 mismo se desarrollaron pruebas de hip贸tesis, estimaci贸n de par谩metros, intervalos de confianza para los estimadores y revisi贸n de supuestos."
  },
  {
    title: "Construcci贸n de aplicaciones basadas en LLMs",
    description: "Desarrollo de una aplicaci贸n que integra un modelo de lenguaje grande (LLM) que hace uso de un sistema de recuperaci贸n de informaci贸n (RAG) para recuperar contexto de notas escritas en Obsidian."
  },
  {
    title: "Fundamentos del machine learning",
    description: "Desarrollo de las competencias basicas en aprendizaje autom谩tico: formulaci贸n de problemas de optimizaci贸n, algoritmos de optimizaci贸n iterativos, regresi贸n lineal, validaci贸n cruzada, regularizaci贸n, modelos de clasificaci贸n y fundamentos de redes neuronales."
  },
  {
    title: "Principios y aplicaciones del Deep Learning",
    description: "Implementaci贸n de diferentes tipos redes neuronales profundas (MLP, CNN, RNN y Transformers) en PyTorch para resolver problemas de clasificaci贸n de im谩genes y procesamiento de lenguaje natural."
  },
  {
    title: "Desarrollo de aplicaciones nativas en la nube",
    description: "Desarrollo de una aplicaci贸n basada en microservicios utilizando arquitectura hexagonal, contenedores Docker, orquestaci贸n con Kubernetes y despliegue en AWS."
  },
  {
    title: "Arquitectura y dise帽o de software",
    description: "Dise帽o y despliegue en Google Cloud Platform de una aplicaci贸n web en Django para manejar la matricula de colegios asegurando atributos de calidad como escalabilidad y disponibilidad, utilizando t谩cticas de arquitectura."
  },
  {
    title: "Desarrollo de software en la nube",
    description: "Construcci贸n y despliegue en AWS de una API REST desarrollada en FastAPI para procesar videos de manera as铆ncrona utilizando servicios como Elastic Compute Cloud (EC2), Elastic Load Balancer (ELB), Relation Database Service (RDS) y Simple Storage Service (S3)."
  },
]

const discartedCourses = [
  {
    title: "Sistemas transaccionales"
  },
    {
    title: "Desarrollo de software en equipo"
  },
    {
    title: "Programaci贸n con tecnolog铆as web"
  },
   {
    title: "Construcci贸n de aplicaciones m贸viles"
  },
]
---

<style>
  @import url("./index.css");
</style>

<BaseLayout pageTitle={pageTitle}>
  <section class="hero-section">
    <div class="welcome-text">
      <h2 id="welcome">Hey , 隆Bienvenido a mi portafolio!</h2>
      <p>
        Mi nombre es Javier, soy estudiante de 煤ltimo a帽o de Ingenier铆a de
        Sistemas y Computaci贸n en la Universidad de los Andes. Me apasiona aprender
        y crear soluciones eficientes, escalables y trabajar en equipo para lograr grandes
        resultados.
        <br />
        Tambi茅n cuento con s贸lidos conocimientos en aprendizaje autom谩tico (ML),
        aprendizaje profundo (DL), nube, estad铆stica, anal铆tica de datos y arquitectura
        de software, con experiencia pr谩ctica en el despliegue de proyectos en AWS
        y Google Cloud.
      </p>
    </div>
    <div class="picture-section">
      <img
        src={profilePicture.src}
        alt="profile-picture"
        class="profile-picture"
      />
    </div>
  </section>

  <h2 id="experience"><Briefcase class="size-8" /> Experiencia</h2>
  <section>
    <div class="experience-timeline">
      <div class="experience-item">
        <h3>Monitor del curso introducci贸n a la programaci贸n</h3>
        <div class="company">Universidad de los Andes</div>
        <div class="date">2022/08-2022/12</div>
        <div class="description">
          Apoyo en a los estudiantes del curso en el laboratorio resolviendo dudas y calificando los proyectos de cada unos de los 4 modulos.
        </div>
      </div>

      <div class="experience-item">
        <h3>Desarrollador FrontEnd con React - SinfonIA</h3>
        <div class="company">Universidad de los Andes</div>
        <div class="date">2024/08-2025/03</div>
        <div class="description">
          Desarrollo de la interfaz de usuario de una aplicaci贸n web en React que permitia la comunicaci贸n con una robot tipo Pepper mediante ROS (Robot Operating System).
        </div>
      </div>
    </div>
  </section>

  <!-- <h2 id="projects"><CodeIcon class="size-7" /> Proyectos</h2>
  <section>
    <p>
      Algunos de los proyectos en los que he participado son los siguientes.
    </p>
  </section> -->

  <h2 id="coursework"><Book class="size-7" /> Cursos relevantes</h2>
  <section>
    <div class="coursework-grid">
      {courses.map((course) => (
        <div class="course-card">
          <h3>{course.title}</h3>
          <p>{course.description}</p>
        </div>
      ))}
    </div>
  </section>

  <h2 id="about-me"><ProfileCheck class="size-8" /> Sobre m铆</h2>
  <section>
    <p>
      Tengo conocimiento en JavaScript, TypeScript y librerias de interfaz de
      usuario como React. Tambi茅n cuento con conocimiento en Python, bases de
      datos relacionales y no relacionales, para ser precisos he trabajado con
      Django, MySQL y MongoDB. He ganado esta experiencia gracias a proyectos
      que he desarrollado por mi propia cuenta o con personas de mi misma
      carrera.
    </p>
    <!-- <p>
      Adem谩s de programar me gusta bastante aprender sobre distintos temas,
      en particular los relacionados con inteligencia artificial. 
    </p> -->
  </section>
</BaseLayout>
