---
import BaseLayout from "../layouts/BaseLayout.astro";
import profilePicture from "../../public/photo.svg";
import Link from "../components/Link.astro";
import Highlight from "../components/home/Highlight.astro";
import Briefcase from "../components/icons/Briefcase.astro";
import CodeIcon from "../components/icons/Code.astro";
import ProfileCheck from "../components/icons/ProfileCheck.astro";
import Book from "../components/icons/Book.astro";

const pageTitle = "Portafolio";
---

<style>
  @import url("./index.css");
</style>

<BaseLayout pageTitle={pageTitle}>
  <section class="hero-section">
    <div class="welcome-text">
      <h2 id="welcome">Hey, ¡bienvenid@ a mi portafolio!</h2>
      <p>
        Mi nombre es Javier, soy estudiante de último año de Ingeniería de
        Sistemas y Computación en la Universidad de los Andes. Me especializo en
        desarrollo BackEnd y cuento con experiencia en aplicaciones nativas en
        la nube y tecnologías web modernas.<br />
        <br />
        También cuento con sólidos conocimientos en aprendizaje automático (ML),
        aprendizaje profundo (DL), estadística, analítica de datos y arquitectura
        de software, con experiencia práctica en el despliegue de proyectos en AWS
        y Google Cloud. Me apasiona crear soluciones eficientes, escalables y trabajar
        en equipo para lograr grandes resultados.
      </p>
    </div>
    <div class="picture-section">
      <img
        src={profilePicture.src}
        alt="profile-picture"
        class="profile-picture"
      />
    </div>
  </section>

  <h2 id="experience"><Briefcase class="size-8" /> Experiencia</h2>
  <section>
    <div class="experience-timeline">
      <div class="experience-item">
        <h3>Experiencia 1</h3>
        <div class="company">Lugar</div>
        <div class="date">Fecha</div>
        <div class="description">
          Descripción.
        </div>
      </div>

      <div class="experience-item">
        <h3>Experiencia 2</h3>
        <div class="company">Lugar</div>
        <div class="date">Fecha</div>
        <div class="description">
          Descripción.
        </div>
      </div>
    </div>
  </section>

  <h2 id="projects"><CodeIcon class="size-7" /> Proyectos</h2>
  <section>
    <p>
      Algunos de los proyectos en los que he participado son los siguientes.
    </p>
  </section>

  <h2 id="projects"><Book class="size-7" /> Cursos relevantes</h2>
  <section>
    <p>
      Algunos de los proyectos en los que he participado son los siguientes.
    </p>
  </section>

  <h2 id="about-me"><ProfileCheck class="size-8" /> Sobre mí</h2>
  <section>
    <p>
      Tengo conocimiento en JavaScript, TypeScript y librerias de interfaz de
      usuario como React. También cuento con conocimiento en Python, bases de
      datos relacionales y no relacionales, para ser precisos he trabajado con
      Django, MySQL y MongoDB. He ganado esta experiencia gracias a proyectos
      que he desarrollado por mi propia cuenta o con personas de mi misma
      carrera.
    </p>
    <p>
      Además de programar, me gusta bastante aprender sobre desarrollo, probar
      nuevas tecnologias y patrones.
    </p>
  </section>
</BaseLayout>
