---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greating';

const pageTitle = 'Home';
---

<BaseLayout pageTitle={pageTitle}>
  <p>SD based on Colombia.</p>
  <Greeting client:load messages={["Hej", "Hallo", "Hola", "Habari"]} />
</BaseLayout>
