---
import Link from "./Link.astro"
---

<style>
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
  }

  footer p {
    font-size: 1.2em;
  }
</style>

<footer>
  <p>Toda esta página fue hecha con <Link href="https://astro.build/" text="Astro" newPage={true}/>.</p>
</footer>
